[submodule "RaspDocker/Onboard-SDK"]
	path = RaspDocker/Onboard-SDK
	url = git@github.com:shivam-2507/Onboard-SDK.git
[submodule "RaspDocker/Onboard-SDK-ROS"]
	path = RaspDocker/Onboard-SDK-ROS
	url = git@github.com:shivam-2507/Onboard-SDK-ROS.git
[submodule "Sensor-Dashboard"]
	path = Ground_Station_Reader/sensor-dashboard
	url = git@github.com:MRU-Earth-and-Enviromental-Science/sensor-dashboard.git
