.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/extensions.json
.vscode/settings.json
drone_esp32/.vscode
ground_station/ground_esp32/.vscode
Docker/.env
.DS_Store
.idea

# ROS Build Files
**/build/
**/devel/
**/logs/
**/.catkin_tools/
**/install/

.env

ParserPi/build
.env
Docker/.env
.rosWorkspace/build/
.rosWorkspace/devel/
.rosWorkspace/logs/
