<launch>
    <arg name="port" default="/dev/ttyUSB1" />
    <arg name="baud" default="57600" />

    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="$(arg port)" />
        <param name="baud" value="$(arg baud)" />
    </node>

    <node name="sensor_monitor" pkg="sensor_monitor" type="sensor_monitor" output="screen">
        <rosparam>
            # Sensor monitor node parameters can be added here if needed
        </rosparam>
    </node>
</launch>
