<launch>
    <arg name="port" default="/dev/ttyUSB0" />
    <arg name="baud" default="57600" />

    <node name="esp32Serial" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="$(arg port)" />
        <param name="baud" value="$(arg baud)" />
    </node>

    <node name="gpsMonitor" pkg="gps_node_pi" type="sensorMonitor" output="screen" />

    <node name="processor" pkg="ros_to_raw" type="dataProcessor" output="screen" />

    <param name="systemInfo" value="Basic Low-Cost Sensors System Active" />

</launch>