<launch>
    <!-- Launch the data processor node -->
    <node name="dataProcessor" pkg="ros_to_raw" type="dataProcessor" output="screen">
        <rosparam>
            # Node parameters can be added here if needed
        </rosparam>
    </node>

    <!-- Optional: You can add other nodes here if needed -->

</launch>