[Unit]
Description=GPS Forwarder for Drone to Pi
After=network.target

[Service]
ExecStart=/usr/local/bin/main
Restart=on-failure
User=YOURUSER

[Install]
WantedBy=multi-user.target
